<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fruits" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addModal">
            Add new item
        </button>
        </button>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
            <div class="card" th:each="fruit:${fruits}">
                <div class="btn-group btn-group-sm mb-1" role="group">
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-warning">Update</button>
                </div>
                <img id="imgee" th:src="@{${fruit.img}}" class="card-img-top p-1 m-1" alt="fruit-img">
                <div class="card-body">
                    <p>
                        <span id="idee" class="card-text visually-hidden" th:text="${fruit.id}"></span><br>
                        <span id="namee" class="card-text fw-bold" th:text="${fruit.name}"></span><br>
                        <span id="articlee" class="fw-lighter" style="font-size: 12px;" th:text="${fruit.article}"></span><br>
                        <span id="descript" class="card-text" th:text="${fruit.descr}"></span><br>
                        <span>&#8364; </span> <!-- <- HTML EUR--->
                        <span id="pricee" class="card-text" th:text="${fruit.price}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{Admin/fragments/modal-create-fruit :: modal-create-fruit}"></div>
</div>
</body>
</html>