<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:style="'background-image: url(' + @{/images/main-cover.jpg} + '); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;'">
<div th:fragment="home" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm" style="background-color: white">
        <div class="container text-center p-3">
            <div class="row">
                <div class="col">
                    <img th:src="@{/images/home-img.jpg}" class="float-start" alt="home-img">
                </div>
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
